---
interface Props {
    title: string;
    firstBlockTitle: string;
    firstBlockDescription: string;
    firstBlockLocation: string;
    firstBLockDate: string;
    secondBlockTitle: string;
    secondBlockDescription: string;
    secondBlockLocation: string;
    secondBLockDate: string;
    ThirdBlockTitle: string;
    ThirdBlockDescription: string;
    ThirdBlockLocation: string;
    ThirdBLockDate: string;
}

const {
    title,
    firstBlockTitle,
    secondBlockTitle,
    firstBlockDescription,
    firstBLockDate,
    firstBlockLocation,
    secondBlockDescription,
    secondBlockLocation,
    secondBLockDate,
    ThirdBlockTitle,
    ThirdBlockDescription,
    ThirdBlockLocation,
    ThirdBLockDate,
} = Astro.props;
---

<div class="w-full rounded-xl text-black border-blue-950">
    <h2 class="text-xl mb-4">{title}</h2>
    <div class="flex md:flex-row flex-col gap-10">
        <div class="flex-1 flex flex-col justify-between md:mb-0 mb-7">
            <h3 class="mb-3 font-medium">{firstBlockTitle}</h3>
            <p class="md:mb-10 mb-3 text-sm font-light leading-relaxed">
                {firstBlockDescription}
            </p>
            <p class="text-sm italic mb-2">
                <i class="fa-solid fa-location-dot"></i>
                {firstBlockLocation}
            </p>
            <p class="text-sm italic">
                <i class="fa-solid fa-calendar-days"></i>
                {firstBLockDate}
            </p>
        </div>
        <div class="flex-1 flex flex-col">
            <h3 class="mb-3 font-medium">{secondBlockTitle}</h3>
            <p class="md:mb-10 mb-3 text-sm font-light leading-relaxed">
                {secondBlockDescription}
            </p>
            <p class="text-sm italic mb-2">
                <i class="fa-solid fa-location-dot"></i>
                {secondBlockLocation}
            </p>
            <p class="text-sm italic">
                <i class="fa-solid fa-calendar-days"></i>
                {secondBLockDate}
            </p>
        </div>
        <div class="flex-1 flex flex-col">
            <h3 class="mb-3 font-medium">{ThirdBlockTitle}</h3>
            <p class="md:mb-10 mb-3 text-sm font-light leading-relaxed">
                {ThirdBlockDescription}
            </p>
            <p class="text-sm italic mb-2">
                <i class="fa-solid fa-location-dot"></i>
                {ThirdBlockLocation}
            </p>
            <p class="text-sm italic">
                <i class="fa-solid fa-calendar-days"></i>
                {ThirdBLockDate}
            </p>
        </div>
    </div>
</div>
